<!-- department_salary_report.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Employee Management | Salary Report</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body style="background-color: rgb(190, 252, 248);">

    <div class="container my-4">
<form method="get" action="{% url 'salarylist' %}" style="text-align: center;" class="my-4">
    Start Date: <input type="date" name="start_date">
    End Date: <input type="date" name="end_date">
    <input type="submit" value="Submit" class="btn btn-success mx-2">
</form>

{% for department, total_cost in data.items %}
<table class="table table-bordered table-stripped">
    <tr>
    <th>Department</th>
    <th>
        Total Cost:
    </th>
    </tr>
    <tr>
    <td>{{ department }}</td>
    <td>
        {{ total_cost }}
    </td>
</tr>
 
</table>
{% endfor %}
<a href="/"><button class="btn btn-dark">Home</button></a>
</div>

</body>
</html>
